<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wealthify - Stocks</title>
  </head>
  <body>
    <h1>Stocks</h1>
    <h3>Pilih saham yang mau kamu cek lebih lanjut/beli</h3>
    <table border="1px">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Company Name</th>
          <th>Location</th>
          <th>Description</th>
          <th>Category</th>
        </tr>
      </thead>

      <tbody>
        <% companies.forEach((company, i) => {%>
        <tr>
          <td>
            <img
              src="<%= company.companyLogo %>"
              alt=""
              style="max-width: 60px"
            />
          </td>
          <td><%= company.name%></td>
          <td><%= company.location%></td>
          <td><%= company.description%></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
